<!DOCTYPE html>
<html lang="es">

<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/faviconRosa.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/faviconRosa.ico" type="image/x-icon">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <style>
        .navbar-dark{
            background-color: #CE295E;
        }
        .nav-link{
            color: white;
        }
        
    </style>
    
      

</head>

<body>
    <div class="container-fluid">
        <div th:fragment="navigation">
            <!--
                Solo es momentaneo este menú cuando pueda usar el login se borrará
            -->

            <!-- BORRAR -->



            <!--
                sec:authorize="hasAuthority('Admin')"
                para que solo lo pueda ver el director
            -->
            <nav sec:authorize="hasAuthority('Admin')" class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <!--Por si queremos añadir algún tipo de logo-->
                    <!-- <img src="src/main/resources/static/img/faviconRosa.ico" alt="Imagen"> -->
                    <a class="navbar-brand" href="/">Ges-Law</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuarios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/usuarios">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/usuarios/add">Alta</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Obligado Cumplimiento
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/obligadocumplimientos">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/obligadocumplimientos/add">Alta</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Facturas
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/facturas">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/facturas/add">Alta</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/ayuda">Ayuda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/acerca">Sobre esta Web </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Desconexión </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>

            <!-- Un Coordinador lo ve todo pero unicamente de las sedes que tenga ASIGNADAS -->
            <nav sec:authorize="hasAuthority('Coordinador')" class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <!--Por si queremos añadir algún tipo de logo-->
                    <!-- <img src="src/main/resources/static/img/faviconRosa.ico" alt="Imagen"> -->
                    <a class="navbar-brand" href="/">Ges-Law</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuarios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/usuarios">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/usuarios/add">Alta</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Obligado Cumplimiento
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/obligadocumplimientos">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/obligadocumplimientos/add">Alta</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Facturas
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/facturas">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/facturas/add">Alta</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/ayuda">Ayuda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/acerca">Sobre esta Web </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Desconexión </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>

            <!-- El director solo puede añadir documentación,no podrá editar -->
            <nav sec:authorize="hasAuthority('Director')" class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <!--Por si queremos añadir algún tipo de logo-->
                    <!-- <img src="src/main/resources/static/img/faviconRosa.ico" alt="Imagen"> -->
                    <a class="navbar-brand" href="/">Ges-Law</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio </a>
                            </li>
                            <!-- No es relevante que vea los Usuarios que existen 
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuarios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/usuarios">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/usuarios/add">Alta</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Obligado Cumplimiento
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/obligadocumplimientos">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/obligadocumplimientos/add">Alta</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Facturas
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/facturas">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/facturas/add">Alta</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/ayuda">Ayuda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/acerca">Sobre esta Web </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Desconexión </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>

            <nav sec:authorize="hasAuthority('Trabajador')" class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <!--Por si queremos añadir algún tipo de logo-->
                    <!-- <img src="src/main/resources/static/img/faviconRosa.ico" alt="Imagen"> -->
                    <a class="navbar-brand" href="/">Ges-Law</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio </a>
                            </li>
                            <!-- El Trabajador no ve los usuarios que hay  
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuarios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/usuarios">Listado</a></li>
                                    <li><a id="menu_enseñanza" class="dropdown-item" href="/usuarios/add">Alta</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Obligado Cumplimiento
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/obligadocumplimientos">Listado</a></li>
                                    <!-- El trabajador solo ve
                                        <li><a id="menu_enseñanza" class="dropdown-item" href="/obligadocumplimientos/add">Alta</a></li> -->
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Facturas
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_modulo" class="dropdown-item" href="/facturas">Listado</a></li>
                                    <!-- El trabajador solo  ve 
                                        <li><a id="menu_enseñanza" class="dropdown-item" href="/facturas/add">Alta</a></li> -->
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/ayuda">Ayuda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/acerca">Sobre esta Web </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Desconexión </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>

        </div>

        <div th:fragment="header">
            <h2 class="text-center">Departamento de Informática </h2>

            <div class="d-flex justify-content-center">
                <div class="card bg-light text-center" style="width: 18rem;">
                    <img class="card-img-top" src="/img/imagen.png" alt="Escudo Informática">
                    <div class="card-body">
                        <h5 class="card-title">Ges-Law</h5>
                        <a href="#" id="menu_informe" class="btn btn-primary">Generar informe</a>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="footer">
            <footer>
                <div class="text-center">                    
                    <hr/>
                    
                    <p>
                        <p sec:authorize="hasAuthority('Admin')">
                            <b>Este párrafo sólo se ve si eres un admin</b>
                        </p>
                    </p>
                    <hr/>
                </div>
                <script src="/webjars/jquery/jquery.min.js"></script>
                <script src="/webjars/popper.js/umd/popper.min.js"></script>
                <script src="/webjars/bootstrap/js/bootstrap.js"></script>
            </footer>
        </div>
    </div>
</body>

</html>
