<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ges-Law : Gestión usuarios</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
    <link rel="icon" href="img/faviconRosa.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/faviconRosa.ico" type="image/x-icon">
</head>

<body>

    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <div class="container">
        <br>
        <br>
        <h3>Añadir usuario:</h3>

        <form th:action="|/usuarios/add|" th:object="${usuario}" method="post">
            <input hidden th:field="${usuario.id}" />
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre de usuario: </label>
                        <input type="text" th:field="*{username}" class="form-control" required/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Contraseña: </label>
                        <input type="password" th:field="*{password}" class="form-control" required />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Nombre: </label>
                        <input type="text" th:field="*{nombre}" class="form-control" required/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Apellidos: </label>
                        <input type="text" th:field="*{apellidos}" class="form-control" required/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">DNI: </label>
                        <input type="text" th:field="*{dni}" class="form-control" required/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Habilitar(si lo marcas el Usuario podrá usarse): </label>
                        <div class="form-check">
                            <input type="checkbox" th:field="*{habilitar}" class="form-check-input" required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Email: </label>
                        <input type="email" th:field="*{email}" class="form-control" required/>
                    </div>
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                                <div class="col-md-6">
                                    <label class="form-label">Tipo de Usuario:</label>
                                    <select th:field="*{tipoUsuario}" class="form-select" required>
                                        <option th:each="tipo : ${tiposUsuarios}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                                    </select>
                                </div>
                            
                            </form>
                            

                            
                        </div>
                    </div>

            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Añadir</button>
                        <a href="/usuarios" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
        </form>

        <!-- <div th:replace="~{fragmentos/general.html :: footer}"></div> -->

    </div>
</body>

</html>