<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ges-Law : Gestión usuarios</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
    <link rel="icon" href="img/faviconRosa.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/faviconRosa.ico" type="image/x-icon">
</head>

<body>

    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <nav sec:authorize="hasAuthority('Admin')">
        
        <div class="container">
            <br>
            <br>
            <h3>Editar usuario:</h3>
            <br/>
    
            <form th:action="'/usuarios/edit/' + ${usuario.id}" th:object="${usuario}" method="post">
                <input type="hidden" th:field="*{id}" />
    
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">NickName: </label>
                            <input type="text" th:field="*{username}" class="form-control" />
                        </div>
    
                        <div class="col-md-6">
                            <label class="form-label">Contraseña: </label>
                            <input type="password" th:field="*{password}" class="form-control"/>
                        </div>
    
                        <div class="col-md-6">
                            <label class="form-label">Nombre: </label>
                            <input type="text" th:field="*{nombre}" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Apellidos: </label>
                            <input type="text" th:field="*{apellidos}" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">DNI: </label>
                            <input type="text" th:field="*{dni}" class="form-control" />
                        </div>
                        <!-- <div class="col-md-6">
                            <label class="form-label">Habilitar: </label>
                            <div class="form-check">
                                <input type="checkbox" th:field="*{habilitar}" class="form-check-input" />
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <label class="form-label">Email: </label>
                            <input type="email" th:field="*{email}" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Tipo de Usuario:</label>
                            <select th:field="*{tipoUsuario}" class="form-select">
                                <option th:each="tipo : ${tiposUsuarios}"
                                        th:value="${tipo.id}"
                                        th:text="${tipo.nombre}"
                                        th:selected="${usuario.tipoUsuario != null and usuario.tipoUsuario.contains(tipo)}"></option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                        
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <a href="/usuarios" class="btn btn-danger">Cancelar cambios</a>
                        </div>
                    </div>
                </div>
            </form>
    
            <!-- <div th:replace="~{fragmentos/general.html :: footer}"></div> -->
        </div>
    </nav>

    <nav sec:authorize="hasAuthority('Coordinador')">
        
        <div class="container">
            <br>
            <br>
            <h3>Editar usuario:</h3>
            <br/>
    
            <form th:action="'/usuarios/update/' + ${usuario.id}" th:object="${usuario}" method="post">
                <input type="hidden" th:field="*{id}" />
    
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">NickName: </label>
                            <input type="text" th:field="*{username}" class="form-control" />
                        </div>
    
                        <div class="col-md-6">
                            <label class="form-label">Contraseña: </label>
                            <input type="password" th:field="*{password}" class="form-control" readonly/>
                        </div>
    
                        <div class="col-md-6">
                            <label class="form-label">Nombre: </label>
                            <input type="text" th:field="*{nombre}" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Apellidos: </label>
                            <input type="text" th:field="*{apellidos}" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">DNI: </label>
                            <input type="text" th:field="*{dni}" class="form-control" />
                        </div>
                        <!-- <div class="col-md-6">
                            <label class="form-label">Habilitar: </label>
                            <div class="form-check">
                                <input type="checkbox" th:field="*{habilitar}" class="form-check-input" />
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <label class="form-label">Email: </label>
                            <input type="text" th:field="*{email}" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Tipo de Usuario:</label>
                            <select th:field="*{tipoUsuario}" class="form-select">
                                <option th:each="tipo : ${tiposUsuarios}"
                                        th:value="${tipo.id}"
                                        th:text="${tipo.nombre}"
                                        th:selected="${usuario.tipoUsuario != null and usuario.tipoUsuario.contains(tipo)}"></option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                        
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <a href="/usuarios" class="btn btn-danger">Cancelar cambios</a>
                        </div>
                    </div>
                </div>
            </form>
    
            <!-- <div th:replace="~{fragmentos/general.html :: footer}"></div> -->
        </div>
    </nav>
</body>
</html>
