<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ges-Law : Gestión de Facturas</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>

    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <div class="container">
        <br>
        <br>
        <h3>Añadir Factura:</h3>

        <!-- Añadir archivo y que solo acepte pdfs -->
        <form th:action="|/facturas/add|" th:object="${factura}" method="post">
            <input hidden th:field="${factura.id}" />
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <label class="form-label">Nombre: </label>
                        <input type="text" th:field="*{nombre}" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Proveedor: </label>
                        <input type="text" th:field="*{proveedor}" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Sede: </label>
                        <!-- Aquí puedes mostrar un select con las opciones de sede -->
                        <select th:field="*{sede.id}" class="form-select">
                            <option th:each="s : ${sedes}" th:value="${s.id}" th:text="${s.nombre}"></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Estado: </label>
                        <input type="checkbox" th:field="*{estado}" class="form-check-input" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Observaciones: </label>
                        <input type="text" th:field="*{observaciones}" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Visto: </label>
                        <input type="checkbox" th:field="*{visto}" class="form-check-input" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Fecha de Validez: </label>
                        <input type="text" th:field="*{fechaVa}" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Concepto: </label>
                        <input type="text" th:field="*{concepto}" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Usuario: </label>
                        <!-- Aquí puedes mostrar un select con las opciones de usuario -->
                        <select th:field="*{usuario.id}" class="form-select">
                            <option th:each="u : ${usuarios}" th:value="${u.id}" th:text="${u.nombreCompleto}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Añadir</button>
                        <a href="/facturas" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>

        <div th:replace="~{fragmentos/general.html :: footer}"></div>

    </div>
</body>
</html>
