<!DOCTYPE html>
<html lang="es">

<head>
    <title>Ges-Law : Gestión facturas</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div th:replace="~{fragmentos/general.html :: navigation}"></div>
    <div class="container">
        <br>
        <h3>Lista de facturas</h3>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Proveedor</td>
                    <td>Sede</td>
                    <td>Estado</td>
                    <td>Observaciones</td>
                    <td>Visto</td>
                    <td>Fecha Validez</td>
                    <td>Concepto</td>
                    <td>Usuario</td>
                    <td>Fichero</td>
                    <nav
                    sec:authorize="hasAuthority('Admin')"
                    >
                        <td>Acciones</td>
                    </nav>
                    <nav
                    sec:authorize="hasAuthority('Coordinador')"
                    >
                        <td>Acciones</td>
                    </nav>
                    <nav
                    sec:authorize="hasAuthority('Director')"
                    >
                        <td>Acciones</td>
                    </nav>
                    <nav
                    sec:authorize="hasAuthority('Trabajador')">
                        <td>Acciones</td>
                    </nav>
                </tr>
            </thead>
            <tbody>
                <nav sec:authorize="hasAuthority('Admin')"
                >
                <tr th:each="factura: ${facturas}">
                    <td th:text="${factura.nombre}"></td>
                    <td th:text="${factura.proveedor}"></td>
                    <td th:text="${factura.sede.nombre}"></td>
                    <td>
                      <input type="checkbox" th:checked="${factura.estado}" disabled>
                  </td>
                    <td th:text="${factura.observaciones}"></td>
                    <td>
                        <input type="checkbox" th:checked="${factura.visto}" disabled>
                    </td>
                    <td th:text="${factura.fechaVa}"></td>
                    <td th:text="${factura.concepto}"></td>
                    <td th:text="${factura.usuario.username}"></td>
                    <td th:text="${factura.fichero != null ? factura.fichero : 'No se ha adjuntado ningún archivo'}"></td>

                        <td>
                            <a class="btn btn-primary" th:href="|/facturas/edit/${factura.id}|">Editar</a>
                            <button class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#confirmDeleteModal"
                            th:data-factura-id="${factura.id}"
                            th:if="${#authorization.expression('hasAuthority(''Admin'') or hasAuthority(''Coordinador'')')}">
                            Borrar
                            </button>
                    
                        
                        </td>
                        
                    </nav>
                    
                    <!-- Unicamente tiene que mostrar las facturas que se encuentran en su sede -->
                    <nav sec:authorize="hasAuthority('Coordinador')"
                    >
                    <tr th:each="factura: ${facturas}">
                        <td th:text="${factura.nombre}"></td>
                        <td th:text="${factura.proveedor}"></td>
                        <td th:text="${factura.sede.nombre}"></td>
                        <td>
                          <input type="checkbox" th:checked="${factura.estado}" disabled>
                      </td>
                        <td th:text="${factura.observaciones}"></td>
                        <td>
                            <input type="checkbox" th:checked="${factura.visto}" disabled>
                        </td>
                        <td th:text="${factura.fechaVa}"></td>
                        <td th:text="${factura.concepto}"></td>
                        <td th:text="${factura.usuario.username}"></td>
                        <td th:text="${factura.fichero != null ? factura.fichero : 'No se ha adjuntado ningún archivo'}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="|/facturas/edit/${factura.id}|">Editar</a>
                            <button class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#confirmDeleteModal"
                            th:data-factura-id="${factura.id}"
                            th:if="${#authorization.expression('hasAuthority(''Admin'') or hasAuthority(''Coordinador'')')}">
                            Borrar
                            </button>
                        </td>
                        
                    </nav>
                    <nav sec:authorize="hasAuthority('Director')"
                    >
                    <tr th:each="factura: ${facturas}">
                        <td th:text="${factura.nombre}"></td>
                        <td th:text="${factura.proveedor}"></td>
                        <td th:text="${factura.sede.nombre}"></td>
                        <td>
                          <input type="checkbox" th:checked="${factura.estado}" disabled>
                      </td>
                        <td th:text="${factura.observaciones}"></td>
                        <td>
                            <input type="checkbox" th:checked="${factura.visto}" disabled>
                        </td>
                        <td th:text="${factura.fechaVa}"></td>
                        <td th:text="${factura.concepto}"></td>
                        <td th:text="${factura.usuario.username}"></td>
                        <td th:text="${factura.fichero != null ? factura.fichero : 'No se ha adjuntado ningún archivo'}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="|/facturas/edit/${factura.id}|">Subir</a>
                        </td>
                        
                    </nav>
                    <nav sec:authorize="hasAuthority('Trabajador')"
                    >
                    <tr th:each="factura: ${facturas}">
                        <td th:text="${factura.nombre}"></td>
                        <td th:text="${factura.proveedor}"></td>
                        <td th:text="${factura.sede.nombre}"></td>
                        <td>
                          <input type="checkbox" th:checked="${factura.estado}" disabled>
                      </td>
                        <td th:text="${factura.observaciones}"></td>
                        <td>
                            <input type="checkbox" th:checked="${factura.visto}" disabled>
                        </td>
                        <td th:text="${factura.fechaVa}"></td>
                        <td th:text="${factura.concepto}"></td>
                        <td th:text="${factura.usuario.username}"></td>
                        <td th:text="${factura.fichero != null ? factura.fichero : 'No se ha adjuntado ningún archivo'}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="|/facturas/edit/${factura.id}|">Ver</a>
                        </td>
                        
                    </nav>
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
            aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar borrado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro que quieres borrar esta factura?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Borrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const facturaId = button.data("factura-id");

                if (facturaId !== undefined && !isNaN(parseInt(facturaId))) {
                    const modal = $(this);
                    modal.find('#confirmDeleteButton').data("factura-id", facturaId);
                } else {
                    console.error("ID de factura no válido:", facturaId);
                }
            });

            $('#confirmDeleteButton').click(function (event) {
                const facturaId = $(this).data("factura-id");

                if (facturaId !== undefined && !isNaN(parseInt(facturaId))) {
                    fetch(`/facturas/delete/${facturaId}`, {
                        method: 'POST'
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = "/facturas"; // Redirige después de eliminar
                        } else {
                            console.error("Error al eliminar la factura:", response.statusText);
                        }
                    })
                    .catch(error => {
                        console.error("Error de red:", error);
                    });
                } else {
                    console.error("ID de factura no válido:", facturaId);
                }
            });
        });
    </script>

</body>

</html>
