<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ges-Law : Gestión Obligado Cumplimiento</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div th:replace="~{fragmentos/general.html :: navigation}"></div>
    <nav
    sec:authorize="hasAuthority('Admin')">

    <div class="container">
        <br>
        <h3 class="mb-4">Agregar Obligado Cumplimiento</h3>

        <form th:action="@{/obligadocumplimientos/add}" method="post" th:object="${obligadoCumplimiento}"
            enctype="multipart/form-data">

            <div class="border p-4">

                <div class="form-group row">
                    <label for="tipo" class="col-sm-4 col-form-label">Tipo:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="tipo" name="tipo" required>
                            <option value="obligadocumplimiento">Obligado Cumplimiento</option>
                            <option value="contratos">Contratos/Autorizaciones/Licencias</option>
                            <option value="subcontrata">Subcontratas</option>
                            <option value="seguros">Seguros</option>
                            <option value="inspecciones">Inspecciones</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="fechaValidez" class="col-sm-4 col-form-label">Fecha de Validez:</label>
                    <div class="col-sm-8">
                        <input type="date" id="fechaValidez" name="fechaValidez" class="form-control" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="empresa" class="col-sm-4 col-form-label">Empresa:</label>
                    <div class="col-sm-8">
                        <select id="empresa" name="empresa" class="form-control" required>
                            <option value="">Seleccione una empresa...</option>
                            <option th:each="emp : ${empresas}" th:value="${emp.id}" th:text="${emp.nombre}"></option>
                        </select>                        
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sede" class="col-sm-4 col-form-label">Sede:</label>
                    <div class="col-sm-8">
                        <select id="sede" name="sede" class="form-control" required>
                            <option value="">Seleccione una sede...</option>
                            <option th:each="sed : ${sedes}" th:value="${sed.id}" th:text="${sed.nombre}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="territorio" class="col-sm-4 col-form-label">Territorio:</label>
                    <div class="col-sm-8">
                        <select id="territorio" name="territorio" class="form-control" required>
                            <option value="">Seleccione un territorio...</option>
                            <th:block th:each="terr : ${territorios}">
                                <option th:value="${terr.id}" th:text="${terr.nombre}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label for="usuario" class="col-sm-4 col-form-label">Usuario:</label>
                    <div class="col-sm-8">
                        <select id="usuario" name="usuario" class="form-control" required>
                            <option value="">Seleccione un usuario...</option>
                            <th:block th:each="user : ${usuarios}">
                                <option th:value="${user.id}" th:text="${user.username}"></option>
                            </th:block>
                        </select>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label for="fichero" class="col-sm-4 col-form-label">Adjuntar Fichero:</label>
                    <div class="col-sm-8">
                        <input type="file" id="fichero" name="fichero" class="form-control-file" accept=".pdf" required>
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" id="aplica" name="aplica" class="form-check-input" required>
                    <label for="aplica" class="form-check-label">Aplica</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" id="favorable" name="favorable" class="form-check-input" required>
                    <label for="favorable" class="form-check-label">Favorable</label>
                </div>

               
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-auto">
                            <a href="/obligadocumplimientos" class="btn btn-danger">Cancelar</a>
                        </div>
                   
            </div>

            </div>

        </form>
        </nav>
        
    <nav
    sec:authorize="hasAuthority('Coordinador')">

    <div class="container">
        <br>
        <h3 class="mb-4">Agregar Obligado Cumplimiento</h3>

        <form th:action="@{/obligadocumplimientos/add}" method="post" th:object="${obligadoCumplimiento}"
            enctype="multipart/form-data">

            <div class="border p-4">

                <div class="form-group row">
                    <label for="tipo" class="col-sm-4 col-form-label">Tipo:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="tipo" name="tipo" required>
                            <option value="obligadocumplimiento">Obligado Cumplimiento</option>
                            <option value="contratos">Contratos/Autorizaciones/Licencias</option>
                            <option value="subcontrata">Subcontratas</option>
                            <option value="seguros">Seguros</option>
                            <option value="inspecciones">Inspecciones</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="fechaValidez" class="col-sm-4 col-form-label">Fecha de Validez:</label>
                    <div class="col-sm-8">
                        <input type="date" id="fechaValidez" name="fechaValidez" class="form-control" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="empresa" class="col-sm-4 col-form-label">Empresa:</label>
                    <div class="col-sm-8">
                        <select id="empresa" name="empresa" class="form-control" required>
                            <option value="">Seleccione una empresa...</option>
                            <option th:each="emp : ${empresas}" th:value="${emp.id}" th:text="${emp.nombre}"></option>
                        </select>                        
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sede" class="col-sm-4 col-form-label">Sede:</label>
                    <div class="col-sm-8">
                        <select id="sede" name="sede" class="form-control" required>
                            <option value="">Seleccione una sede...</option>
                            <option th:each="sed : ${sedes}" th:value="${sed.id}" th:text="${sed.nombre}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="territorio" class="col-sm-4 col-form-label">Territorio:</label>
                    <div class="col-sm-8">
                        <select id="territorio" name="territorio" class="form-control" required>
                            <option value="">Seleccione un territorio...</option>
                            <th:block th:each="terr : ${territorios}">
                                <option th:value="${terr.id}" th:text="${terr.nombre}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label for="usuario" class="col-sm-4 col-form-label">Usuario:</label>
                    <div class="col-sm-8">
                        <select id="usuario" name="usuario" class="form-control" required>
                            <option value="">Seleccione un usuario...</option>
                            <th:block th:each="user : ${usuarios}">
                                <option th:value="${user.id}" th:text="${user.username}"></option>
                            </th:block>
                        </select>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label for="fichero" class="col-sm-4 col-form-label">Adjuntar Fichero:</label>
                    <div class="col-sm-8">
                        <input type="file" id="fichero" name="fichero" class="form-control-file" accept=".pdf" required>
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" id="aplica" name="aplica" class="form-check-input" required>
                    <label for="aplica" class="form-check-label">Aplica</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" id="favorable" name="favorable" class="form-check-input" required>
                    <label for="favorable" class="form-check-label">Favorable</label>
                </div>

               
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-auto">
                            <a href="/obligadocumplimientos" class="btn btn-danger">Cancelar</a>
                        </div>
                   
            </div>

            </div>

        </form>
        </nav>
        
    <nav
    sec:authorize="hasAuthority('Director')">

    <div class="container">
        <br>
        <h3 class="mb-4">Agregar Obligado Cumplimiento</h3>

        <form th:action="@{/obligadocumplimientos/add}" method="post" th:object="${obligadoCumplimiento}"
            enctype="multipart/form-data">

            <div class="border p-4">

                <div class="form-group row">
                    <label for="tipo" class="col-sm-4 col-form-label">Tipo:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="tipo" name="tipo" required>
                            <option value="obligadocumplimiento">Obligado Cumplimiento</option>
                            <option value="contratos">Contratos/Autorizaciones/Licencias</option>
                            <option value="subcontrata">Subcontratas</option>
                            <option value="seguros">Seguros</option>
                            <option value="inspecciones">Inspecciones</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="fechaValidez" class="col-sm-4 col-form-label">Fecha de Validez:</label>
                    <div class="col-sm-8">
                        <input type="date" id="fechaValidez" name="fechaValidez" class="form-control" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="empresa" class="col-sm-4 col-form-label">Empresa:</label>
                    <div class="col-sm-8">
                        <select id="empresa" name="empresa" class="form-control" required>
                            <option value="">Seleccione una empresa...</option>
                            <option th:each="emp : ${empresas}" th:value="${emp.id}" th:text="${emp.nombre}"></option>
                        </select>                        
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sede" class="col-sm-4 col-form-label">Sede:</label>
                    <div class="col-sm-8">
                        <select id="sede" name="sede" class="form-control" required>
                            <option value="">Seleccione una sede...</option>
                            <option th:each="sed : ${sedes}" th:value="${sed.id}" th:text="${sed.nombre}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="territorio" class="col-sm-4 col-form-label">Territorio:</label>
                    <div class="col-sm-8">
                        <select id="territorio" name="territorio" class="form-control" required>
                            <option value="">Seleccione un territorio...</option>
                            <th:block th:each="terr : ${territorios}">
                                <option th:value="${terr.id}" th:text="${terr.nombre}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label for="usuario" class="col-sm-4 col-form-label">Usuario:</label>
                    <div class="col-sm-8">
                        <select id="usuario" name="usuario" class="form-control" required>
                            <option value="">Seleccione un usuario...</option>
                            <th:block th:each="user : ${usuarios}">
                                <option th:value="${user.id}" th:text="${user.username}"></option>
                            </th:block>
                        </select>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label for="fichero" class="col-sm-4 col-form-label">Adjuntar Fichero:</label>
                    <div class="col-sm-8">
                        <input type="file" id="fichero" name="fichero" class="form-control-file" accept=".pdf" required>
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" id="aplica" name="aplica" class="form-check-input" required>
                    <label for="aplica" class="form-check-label">Aplica</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" id="favorable" name="favorable" class="form-check-input" required>
                    <label for="favorable" class="form-check-label">Favorable</label>
                </div>

               
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-auto">
                            <a href="/obligadocumplimientos" class="btn btn-danger">Cancelar</a>
                        </div>
                   
            </div>

            </div>

        </form>
        </nav>
        
    <nav
    sec:authorize="hasAuthority('Trabajador')">

    <h4>Acceso denegado</h4>

    <p>Por favor identifíquese con el usuario con los privilegios correctos para acceder a esta parte de la Web.</p>

    <p><a href="/logout">Salir del sistema</a></p>



        </nav>
        
    </div>
        


    <!-- Bootstrap JS y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
