<!DOCTYPE html>
<html lang="es">

<head>
    <title>Ges-Law : Gestión Obligado Cumplimiento</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div th:replace="~{fragmentos/general.html :: navigation}"></div>
    <div class="container">
        <br>
        <h3>Lista de Obligado Cumplimiento</h3>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Tipo</td>
                    <td>Validez</td>
                    <td>Territorio</td>
                    <td>Sede</td>
                    <!-- <td>Usuario</td> -->
                    <td>Empresa</td>
                    <td>Fichero</td>
                    <td>Observaciones</td>
                    <td>Aplica</td>
                    <td>Favorable</td>
                    <nav
                            sec:authorize="hasAuthority('Admin')"
                            >
                            <td>Acciones</td>
                    </nav>
                    <nav
                            sec:authorize="hasAuthority('Coordinador')"
                            >
                            <td>Acciones</td>
                    </nav>
                    <nav
                            sec:authorize="hasAuthority('Director')"
                            >
                            <td>Acciones</td>
                    </nav>
                    <nav
                            sec:authorize="hasAuthority('Trabajador')"
                            >
                            <td>Acciones</td>
                    </nav>
                    
                </tr>
            </thead>
            <tbody>
                    <nav 
                    sec:authorize="hasAuthority('Admin')"
                    
                    >
                    <tr th:each="obligadocumplimiento: ${obligadocumplimientos}">
                        <td th:text="${obligadocumplimiento.tipo}"></td>
                        <td th:text="${obligadocumplimiento.fechaValidez}"></td>
                        <td th:text="${obligadocumplimiento.territorio != null ? obligadocumplimiento.territorio.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.sede != null ? obligadocumplimiento.sede.nombre : ''}"></td>
                        <!-- <td th:text="${obligadocumplimiento.usuario != null ? obligadocumplimiento.usuario.username : ''}"></td> -->
                        <td th:text="${obligadocumplimiento.empresa != null ? obligadocumplimiento.empresa.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.fichero != null ? obligadocumplimiento.fichero : 'No se ha adjuntado ningún archivo'}"></td>
                        <td th:text="${obligadocumplimiento.observaciones != null ? obligadocumplimiento.observaciones : 'No se ha encontrado ninguna observación'}"></td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.aplica}" disabled>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.favorable}" disabled>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="|/obligadocumplimientos/edit/${obligadocumplimiento.id}|">Editar</a>
                            <button class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#confirmDeleteModal"
                            th:data-obligadocumplimiento-id="${obligadocumplimiento.id}"
                            th:if="${#authorization.expression('hasAuthority(''Admin'') or hasAuthority(''Coordinador'')')}">
                            Borrar
                            </button>
                        </td>
                    </nav>

                    <!-- Únicamente puede ver los obligadocumplimientos que existen en su sede -->
                    <nav 
                    sec:authorize="hasAuthority('Coordinador')"
                    
                    >
                    <tr th:each="obligadocumplimiento: ${obligadocumplimientos}">
                        <td th:text="${obligadocumplimiento.tipo}"></td>
                        <td th:text="${obligadocumplimiento.fechaValidez}"></td>
                        <td th:text="${obligadocumplimiento.territorio != null ? obligadocumplimiento.territorio.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.sede != null ? obligadocumplimiento.sede.nombre : ''}"></td>
                        <!-- <td th:text="${obligadocumplimiento.usuario != null ? obligadocumplimiento.usuario.username : ''}"></td> -->
                        <td th:text="${obligadocumplimiento.empresa != null ? obligadocumplimiento.empresa.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.fichero != null ? obligadocumplimiento.fichero : 'No se ha adjuntado ningún archivo'}"></td>
                        <td th:text="${obligadocumplimiento.observaciones != null ? obligadocumplimiento.observaciones : 'No se ha encontrado ninguna observación'}"></td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.aplica}" disabled>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.favorable}" disabled>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="|/obligadocumplimientos/edit/${obligadocumplimiento.id}|">Editar</a>
                            <button class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#confirmDeleteModal"
                            th:data-obligadocumplimiento-id="${obligadocumplimiento.id}"
                            th:if="${#authorization.expression('hasAuthority(''Admin'') or hasAuthority(''Coordinador'')')}">
                            Borrar
                            </button>
                        </td>
                    </nav>


                    <nav 
                    sec:authorize="hasAuthority('Director')"
                    
                    >
                    <tr th:each="obligadocumplimiento: ${obligadocumplimientos}">
                        <td th:text="${obligadocumplimiento.tipo}"></td>
                        <td th:text="${obligadocumplimiento.fechaValidez}"></td>
                        <td th:text="${obligadocumplimiento.territorio != null ? obligadocumplimiento.territorio.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.sede != null ? obligadocumplimiento.sede.nombre : ''}"></td>
                        <!-- <td th:text="${obligadocumplimiento.usuario != null ? obligadocumplimiento.usuario.username : ''}"></td> -->
                        <td th:text="${obligadocumplimiento.empresa != null ? obligadocumplimiento.empresa.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.fichero != null ? obligadocumplimiento.fichero : 'No se ha adjuntado ningún archivo'}"></td>
                        <td th:text="${obligadocumplimiento.observaciones != null ? obligadocumplimiento.observaciones : 'No se ha encontrado ninguna observación'}"></td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.aplica}" disabled>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.favorable}" disabled>
                        </td>
                        <td>
                            <!-- ESTO HAY QUE CAMBIARLO Y DARLE LOGICA -->
                            <a class="btn btn-primary" th:href="|/obligadocumplimientos/edit/${obligadocumplimiento.id}|">Subir</a>
                        </td>
                    </nav>


                    <nav 
                    sec:authorize="hasAuthority('Trabajador')"
                    
                    >
                    <tr th:each="obligadocumplimiento: ${obligadocumplimientos}">
                        <td th:text="${obligadocumplimiento.tipo}"></td>
                        <td th:text="${obligadocumplimiento.fechaValidez}"></td>
                        <td th:text="${obligadocumplimiento.territorio != null ? obligadocumplimiento.territorio.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.sede != null ? obligadocumplimiento.sede.nombre : ''}"></td>
                        <!-- <td th:text="${obligadocumplimiento.usuario != null ? obligadocumplimiento.usuario.username : ''}"></td> -->
                        <td th:text="${obligadocumplimiento.empresa != null ? obligadocumplimiento.empresa.nombre : ''}"></td>
                        <td th:text="${obligadocumplimiento.fichero != null ? obligadocumplimiento.fichero : 'No se ha adjuntado ningún archivo'}"></td>
                        <td th:text="${obligadocumplimiento.observaciones != null ? obligadocumplimiento.observaciones : 'No se ha encontrado ninguna observación'}"></td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.aplica}" disabled>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${obligadocumplimiento.favorable}" disabled>
                        </td>
                        <td>
                            <!-- ESTO HAY QUE CAMBIARLO Y DARLE LOGICA -->
                            <a class="btn btn-primary" th:href="|/obligadocumplimientos/edit/${obligadocumplimiento.id}|">Ver</a>
                        </td>
                    </nav>

                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar borrado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro que quieres borrar este obligado cumplimiento?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Borrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragmentos/general.html :: footer}"></div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget);
                const obligadocumplimientoId = button.data("obligadocumplimiento-id");

                if (obligadocumplimientoId !== undefined && !isNaN(parseInt(obligadocumplimientoId))) {
                    const modal = $(this);
                    modal.find('#confirmDeleteButton').data("obligadocumplimiento-id", obligadocumplimientoId);
                } else {
                    console.error("ID de obligadocumplimiento no válido:", obligadocumplimientoId);
                }
            });

            $('#confirmDeleteButton').click(function (event) {
                const obligadocumplimientoId = $(this).data("obligadocumplimiento-id");

                if (obligadocumplimientoId !== undefined && !isNaN(parseInt(obligadocumplimientoId))) {
                    fetch(`/obligadocumplimientos/delete/${obligadocumplimientoId}`, {
                        method: 'POST'
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = "/obligadocumplimientos"; // Redirige después de eliminar
                        } else {
                            console.error("Error al eliminar la obligadocumplimiento:", response.statusText);
                        }
                    })
                    .catch(error => {
                        console.error("Error de red:", error);
                    });
                } else {
                    console.error("ID de obligadocumplimiento no válido:", obligadocumplimientoId);
                }
            });
        });
    </script>


</body>

</html>
